<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true ">
    </serviceHostingEnvironment>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior" >
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="endPointWeb">
          <enableWebScript/>
          <dataContractSerializer/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Goliaz.Wcf.wcfGoliaz" behaviorConfiguration="serviceBehavior" >
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Goliaz.Wcf.wcfGoliaz"
                  behaviorConfiguration="endPointWeb" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Goliaz.Web/Services/wcfGoliaz/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
