<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <configSections>   
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Goliaz.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Goliaz.Framework.Properties.Settings>
      <setting name="infoEmail" serializeAs="String">
        <value>goliaz@goliaz.com</value>
      </setting>
      <setting name="portSendmail" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="passEmail" serializeAs="String">
        <value>confirm123</value>
      </setting>
      <setting name="serverAddress" serializeAs="String">
        <value>142.4.49.155</value>
      </setting>
    </Goliaz.Framework.Properties.Settings>
  </applicationSettings>

  <!--<system.webServer>
    <handlers>
      <add name="ServiceModel"
           type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           path="*.svc" verb="*" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>-->

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="goliazco_FWEntities" connectionString="metadata=res://*/ModelGoliaz.csdl|res://*/ModelGoliaz.ssdl|res://*/ModelGoliaz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2012.dbsqlserver.com,1288;initial catalog=goliazco_FW;user id=goliazco_FW;password=goliaz123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  
    <system.web>
      <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
      <pages controlRenderingCompatibilityVersion="4.0" enableViewState="true" enableViewStateMac="false" validateRequest="false" enableEventValidation="false" />
    </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true ">
    </serviceHostingEnvironment>

    <behaviors>
      <endpointBehaviors>
        <behavior name="endPointWeb">
          <enableWebScript />
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Goliaz.Wcf.wcfGoliaz" behaviorConfiguration="serviceBehavior" >
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Goliaz.Wcf.wcfGoliaz"
                  behaviorConfiguration="endPointWeb" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Goliaz.Web/Services/wcfGoliaz/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
