<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Goliaz.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Goliaz.Framework.Properties.Settings>
            <setting name="infoEmail" serializeAs="String">
                <value>eduardosantos@goliaz.com</value>
            </setting>
            <setting name="portSendmail" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="passEmail" serializeAs="String">
                <value>confirm123</value>
            </setting>
            <setting name="serverAddress" serializeAs="String">
                <value>142.4.49.155</value>
            </setting>
        </Goliaz.Framework.Properties.Settings>
    </applicationSettings>
</configuration>